<!-- <p>aboutus works!</p>

<div>
    Today's Date:- {{presentDate}} <br>
    Today's Date:- {{presentDate | date}}
</div>
<div>
    Short Date:- {{presentDate | date: 'shortDate'}} <br>
   Formatted Date:- {{presentDate | date: 'dd/mm/yyyy'}} <br>
   Hours and Minutes:- {{presentDate | date: 'hh/mm'}} <br>
</div>
 
<div>
    {{value | uppercase}}
</div>
<div>
    Date with uppercase:- {{presentDate | date: 'fullDate' | uppercase}}
</div>
<div>
    My Observable:- {{myObservable | async}}
</div>
<div>
    <h2>Currency Pipe</h2>
    <p>{{price | currency: 'USD'}}</p>

    <p>{{price | currency: 'INR'}}</p>
</div>
<div>
    {{jasonData | json}}
</div>
<div>
    <p>Digit Count Pipe</p>
    <h1 >{{digits | digitcount}}</h1>
</div> -->


<!-- <div style="font-weight: bolder; color: brown; text-shadow: 0 0 10px;" *ngFor="let student of students">
    {{student.name | details: student.gender}}
</div> -->


<!-- <div style="font-weight: bolder; color: brown; text-shadow: 0 0 10px;" *ngFor="let employee of employees">
    {{employee.name | details: employee.gender}}
</div> -->



<!-- <table>
    <thead >
        <tr>
            <th>Sr No.</th>
            <th>Name</th>
            <th>Gender</th>          
        </tr>
    </thead>
    <tbody>
        <tr *ngFor='let employee of employees'>
            <td>{{employee.id }}</td>
            <td>{{employee.name | details: employee.gender }}</td>
            <td>{{employee.gender}}</td>
           
        </tr>
    </tbody>
</table> -->