<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <!-- <h1>
    Welcome to {{ title }}!
  </h1> -->
  <!-- <img width="300" alt="Angular Logo" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg=="> -->

  <!-- <div *ngFor="let player of PlayerRecords">
  <app-child [playerN]="player.playerName"></app-child>
  <app-child [playerN]="player.team"></app-child>
</div> -->
  <!-- <div>
    <app-child (hello)="getData($event)"></app-child>
  </div> -->


  <!-- <div *ngIf="isActive; else isDeactivate">
  test component if
</div>
<ng-template #isDeactivate>
  test component else
</ng-template> -->


  <!-- <div class="container">
  <button type="button" class="btn dropdown-toggle" data-bs-toggle="dropdown-toggle"> this </button>
  <div class="dropdown-menu">
    <a class="dropdown-item">er</a>
  </div>
</div> -->


  <div>
    <!-- attribute example -->
    <!-- </div>
    <app-ngstyle></app-ngstyle>
    <app-ngclass></app-ngclass> -->



    <!-- <div>
    custom directives example
  </div>
  <p > normal para</p>
  <p appCustom> custom para</p>



  <p> <input [(ngModel)]="msg"></p>
  <app-hooks *ngIf="comp" [message]="msg">
    This is ngContent {{msg}}
  </app-hooks>
  <br>
  <button class="btn btn-danger" (click)="destroy()">Destroy</button> -->
    <app-templateform></app-templateform>
    <!-- <app-newtemplateform></app-newtemplateform> -->
    <!-- <app-reactiveform></app-reactiveform> -->
    <!-- <app-newreactiveform></app-newreactiveform> -->
    <!-- <app-reactiveform2></app-reactiveform2> -->
    <!-- <app-onchange></app-onchange> -->
    <!-- <app-signupform></app-signupform> -->
  </div>

  <div>
    <!-- <app-ngfor></app-ngfor>
    <app-ngswitch></app-ngswitch>
    <app-newone></app-newone> -->
  </div>
  <!-- <button (click)="OnSubmit()"> submit</button>
  <br>
  <br>
  <br>
  

<ng-container *ngFor="let product of products">
  Product Name: <strong class="text-success">{{product.name}}</strong><br>
  Product ID: <strong class="text-success">{{product.id}}</strong> <br>
  Product email: <strong class="text-success">{{product.email}}</strong><br>
</ng-container> -->
  <app-userdetails></app-userdetails>

  <!-- <div *ngFor="let getelement of getElementTitle">
  Title: <strong class="text-success">{{getelement.title}}</strong><br>
</div> -->

  <app-postcomponent></app-postcomponent>

  <!-- <app-newtest></app-newtest> -->
  <!-- 
  <header>
    <nav>
      <ul class="nav nav-tabs">
        <li class="nav-item"><a class="nav-link" routerLinkActive="active" routerLink="aboutus/">About us</a></li>
        <li class="nav-item"><a class="nav-link" routerLinkActive="active" routerLink="contactus/">Contact us</a></li>
        <li class="nav-item"><a class="nav-link" routerLinkActive="active" routerLink="products/">Products</a></li>

      </ul>
    </nav>
  </header> -->

  <!-- <div class="page-area">
    <h2>Home</h2>
    <div class="box">
      <h1>User name is <span class="text-success">{{username}} </span></h1>
    </div>
    <div class="row">
      <div class="col-md-6">
        <app-comp1></app-comp1>
      </div>
      <div class="col-md-6">
        <app-comp2></app-comp2>
      </div>
      <div class="col-md-6">
        <app-comp3></app-comp3>
      </div>
      <div class="col-md-6">
        <app-comp4></app-comp4>
      </div>
    </div>
  </div> -->

  <!-- <app-changedetection [data]="ExampleObject"></app-changedetection>

  <button (click)="changeName()">Change Name</button>
  <br>
  <br>
  <button (click)="changeObject()">Change Object</button> -->

  <!-- <app-login></app-login>
  <app-signup></app-signup> -->
  <!-- <app-forgotpassword></app-forgotpassword> -->
  <!-- <nav>
    <a routerLink="login/" routerLinkActive="active">Login</a>
    <a routerLink="signup/" routerLinkActive="active">Signup</a>
  </nav> -->


  <!-- <header>
    <nav>
      <ul class="nav nav-tabs">
        <li class="nav-item"><a class="nav-link" routerLinkActive="active" routerLink="component1/">Component 1</a></li>
        <li class="nav-item"><a class="nav-link" routerLinkActive="active" routerLink="component2/">Component 2</a></li>
      </ul>
    </nav>
  </header> -->
     
  <!-- <div #box>
    <h2>Username is {{user}}</h2>
  </div>

  <button (click)="changeUserName()">Update</button> <br><br>
  <button (click)="changeAlert()">Update alert</button>

  <div class="col-md-6">
    <app-comp4></app-comp4>
  </div> -->

  <!-- <app-comp4 [personName]="myName">  </app-comp4> -->
  <!-- <app-comp4 (villageName)="gotVillage($event)">  </app-comp4> -->
  
  <router-outlet></router-outlet>